.projects {
	background-color: $bg-color;
	padding: 50px 0px 100px;
	position: relative;
	&__top {
		display: flex;
		justify-content: space-between;
	}
	&__top-logo {
		margin-right: 10px;
	}
	&__top-title {
		font-size: 44px;
		color: $title-color;
		font-weight: 700;
		text-transform: capitalize;
	}
	&__top-subtitle {
		color: $title-color;
		font-weight: 300;
		font-size: 17px;

	}
	&__top-titles {
		align-items: center;
		width: 100%;
		max-width: 350px;
		text-align: justify;
	}
	&__menu-list {
		display: flex;
		justify-content: space-between;
		@media all and (max-width: 767px) {
			flex-direction: column;
		}
	}
	&__menu-link {
		display: flex;
		padding: 10px 30px;
		border: 2px solid $border-color;
		border-radius: 5px;
		color: $border-color;
		text-transform: capitalize;
		font-weight: bold;
		transition: $transition;
		&:hover {
			background-color: $white;
			color: $black;
		}
		&.current {
			background-color: $white;
			color: $black;
			border-color: $white;
		}
	}
	&__card {
		background-color: $white;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 15px 15px 0;
	}
	&__card-list {
		display: flex;
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	&__card-imgwr {
		width: 100%;
		max-width: 240px;
		@include padding-hack(210px);
	}
	&__card-item {
		flex-basis: 50%;
		&:first-child .projects__card-link {
			border-right: 1px solid $bg-color;
		}
	}
	&__card-link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 60px;
		transition: $transition;
		&:hover .fas{
			color: $title-color;

		}
	}
	.fas {
		font-size: 25px;
		color: $button-color;
	}
	&__scroll {
		position: absolute;
		z-index: 2;
		right: 10px;
		bottom: 10%;
		height: 100px;
		width: 100px;
		display: flex;
		border-radius: 50%;
		background-color: $white;
		align-items: center;
		justify-content: center;
		@media all and (max-width: 991px) {
			display: none;
		}
	}
}