@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');
$main-font: 'Open Sans', sans-serif;
$bg-color: #efefef;
$black: #000;
$white: #fff;
$title-color: #6d6e71;
$border-color: #cecece;
$button-color: #c8cacf;